#main-nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

#main-nav>li {
    padding: 10px;
    transition: background-color 0.5s;
}

#main-nav>li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #main-nav {
        flex-direction: column;
    }
}