section>img {
width: 100%;
}

article {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
    padding: 10px;
}
article >section{
    max-width: 500px;
}

